* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#scene {
  margin-top: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
